<!DOCTYPE html>
<html>
<head>
	<title>Blog API</title>
</head>
<body>
<h1>List of posts</h1>
<form id="add-post">
	<label>Title</label><br>
	<input type="text" name="title"><br>
	<label>First name</label><br>
	<input type="text" name="firstname"><br>
	<label>Last name</label><br>
	<input type="text" name="lastname"><br>
	<label>Content</label><br>
	<textarea name="content"></textarea><br>
	<input type="submit" name="author"><br>
</form>
<div class="posts-container">
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>